.container {
	max-width:1000px;
	margin:0 auto;
	background-color: #ccc;
}

.imageContainer {
	width:45%;
	float:left;
}
.imageContainer img {
	width:100%;
}
hr.separator {
	clear:both;
	margin:20px 0px;
}
.infoContainer {
	width: 50%;
	float:right;
}